(
    selection_bg: Some("Green"),
    // selection_fg: Some(""),
    // selected_tab: Some(""),
    // command_fg: Some("Black"),
    cmdbar_bg: Some("Green"),
    // cmdbar_extra_lines_bg: Some(""),
    disabled_fg: Some("#908caa"),
    // diff_line_add: Some(""),
    // diff_line_delete: Some(""),
    // diff_file_added: Some(""),
    // diff_file_removed: Some(""),
    // diff_file_moved: Some(""),
    // diff_file_modified: Some(""),
    // commit_hash: Some(""),
    // commit_time: Some(""),
    // commit_author: Some(""),
    // danger_fg: Some(""),
    // push_gauge_bg: Some(""),
    // push_gauge_fg: Some(""),
    // tag_fg: Some(""),
    // branch_fg: Some(""),
    // block_title_focused: Some(""),
    // line_break: Some("¶"),
)
